---
import { formatDate } from "../../lib/utils";
import Prose from "../../components/prose.astro";
import { getCollection, render } from "astro:content";
import InfoLayout from "../../layouts/InfoLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
    const articles = await getCollection("articles");

    return articles.map((article) => ({
        params: {
            slug: article.data.slug
        },
        props: { article },
    }));
}

const { article } = Astro.props;

if (article === undefined) {
    return new Response("Article not found", { status: 404 });
}

const { Content } = await render(article);
const isArabic = article.data.language === 'ar';

const allArticles = await getCollection("articles");

const relatedArticles = allArticles.filter(
    (relatedArticle) =>
        relatedArticle.data.category === article.data.category &&
        relatedArticle.id !== article.id,
);
---

<InfoLayout 
    title={article.data.title} 
    frontmatter={article.data}
    lang={article.data.language}
    dir={isArabic ? 'rtl' : 'ltr'}
>
    <section class={`p-4 sm:pt-8 sm:px-12 pb-20 min-h-screen ${isArabic ? 'font-arabic' : ''}`}>
        <Prose>
            <Content />
        </Prose>

        <!-- <p class="my-4 text-sm italic text-zinc-300">
            This is an excerpt from {`${article.data.author}'s`}
            <a href={article.data.originalLink} target="_blank" class="underline underline-offset-4 decoration-zinc-100 hover:decoration-white hover:text-white">
                {article.data.title}
            </a>
            article. I highly recommend you give it a read!
        </p> -->

        {
            relatedArticles.length > 0 && (
                <div>
                    <h2 class="mt-8 sm:mt-12 text-lg text-zinc-400 font-medium">
                        Related Articles
                    </h2>

                    <ul class="mt-2.5">
                        {relatedArticles.map((article) => (
                            <li class="group">
                                <a href={`/blog/${article.data.slug}`}>
                                    <h3 class="text-xl text-zinc-50 group-hover:text-white underline underline-offset-2 decoration-transparent group-hover:decoration-zinc-500">
                                        {article.data.title}
                                    </h3>
                                    <p class="mt-0.5 text-sm text-zinc-400">
                                        {formatDate((article.data.pubDate))} 
                                        &middot; {article.data.author}
                                    </p>
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }
    </section>
</InfoLayout>
