---
import "../styles/global.css";
import { Font } from "astro:assets";
import LoadingIndicator from "astro-loading-indicator/component"

const { title, description, lang = 'en', dir = 'ltr' } = Astro.props;

const defaultTitle = "Asaad's Playground";
const defaultDescription = "Asaad's Playground for experiments and ideas";
---

<!doctype html>
<html lang={lang} dir={dir}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? defaultTitle}</title>
		<meta name="description" content={description ?? defaultDescription} />

		<meta property="og:url" content="https://nikola.fluidinterfaces.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={defaultTitle} />
		<meta property="og:description" content={defaultDescription} />
		<meta property="og:image" content="/social-image.jpg" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="nikola.fluidinterfaces.com" />
		<meta property="twitter:url" content="https://nikola.fluidinterfaces.com/" />
		<meta name="twitter:title" content={defaultTitle} />
		<meta name="twitter:description" content={defaultDescription} />
		<meta name="twitter:image" content="/social-image.jpg" />

		<Font cssVariable="--font-geist" preload />
		<LoadingIndicator color="#f4f4f5" height="2px" />

	</head>
	<body class="font-sans min-h-screen bg-zinc-900">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
